<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap/css/bootstrap.min.css')}}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" href="{{url_for('static', filename='assets/icon/themify-icons/themify-icons.css')}}"> 
      <!-- ico font -->
      <link rel="stylesheet" href="{{url_for('static', filename='assets/icon/icofont/css/icofont.css')}}"> 
      <!-- Style.css -->
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/jquery.mCustomScrollbar.css')}}">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.all.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

      </script>
  </head>

  <body>
    <!-- Pre-loader start -->
    {% if "pm_logged" in session and "pm_data" in session  and  session["pm_logged"] %}

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo bg-light">
                       
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <img class="img-fluid" src="{{url_for('static', filename='assets/images/last.png')}}" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                         
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <span>
                                        {{ session["pm_data"][0][1] }}
                                    </span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                
                                    <li>
                                        <a href="#">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="auth-normal-sign-in.html">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">

                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                               
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Layout</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="/projectmanager-dash">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Manage engineers</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="/create-ing">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Create engineer</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="/show_engineers_pm">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Show engineer</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                        
                            
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon" style="background-color: rgb(63, 167, 7);"><i class="fa-solid fa-list-check"></i></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Manage projects</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="/create-project">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Create projects</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="/delete_project">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Delete projects</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                           
                                <li>
                                    <a href="/pm-statistics">
                                        <span class="pcoded-micon"><i class="fa-solid fa-chart-pie"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Statistics</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                <!-- <li>
                                    <a href="/tasks">
                                        <span class="pcoded-micon"><i class="ti-layers bg-c-green"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">tasks</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li> -->
                                <li class="active">
                                    <a href="/tasks">
                                        <span class="pcoded-micon" style="background-color: rgb(139, 139, 144);"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Tasks</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/report" id="report">
                                        <span class="pcoded-micon" style="background-color: #39ADB5;;"><i class="fa-regular fa-folder"></i><b>C</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Report</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                            

                            </ul>              
                                
                            
                    </nav>
                    
          
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body d-flex justify-content-center " >
                                
                                    <div class="card mt-5" style="width: 600px;">
                                        <div class="card-header">
                                            <h3 class="text-center">Create engineer</h3>
                                        </div>
                                        <div class="card-body">
                                            <form action="/add-ing" method="POST">
                                                <div class="form-group input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                                  </div>
                                                  <input name="fullname" class="form-control" placeholder="Full name" type="text">
                                                </div>
                                                <div class="form-group input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                                  </div>
                                                  <input name="email" class="form-control" placeholder="Email address" type="email">
                                                </div>

                                                    <div class="input-group-prepend">
                                                    </div>
                                                    <select name="dep" class="form-control" id="">
                                                        <option value="">Departement </option>
                                                        <option value="IT">IT </option>
                                                        <option value="Marketing">Marketing </option>
                                                        <option value="Finance">Finance </option>
                                                    </select>
                                                    
                                                  </div>
                                                <div class="form-group input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                  </div>
                                                  <input class="form-control" name="password" placeholder="Create password" type="password" id="pass1">
                                                </div>
                                                <div class="form-group input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                  </div>
                                                  <input class="form-control" placeholder="Repeat password" type="password" id="pass2">
                                                </div>
                                                <div class="form-group">
                                                  <button type="submit" class="btn btn-primary btn-block" style="background-color: #FC6180;" id="btn-submit"> Create  </button>
                                                </div>
                                            </form>
                                        </div>

                                     </div>
                                    
                                    <script>
                                        let pass1 = document.querySelector("#pass1")
                                        let pass2 = document.querySelector("#pass2")
                                        let btn = document.querySelector("#btn-submit")
                                        pass2.onblur=()=>{
                                          if(pass1.value!==pass2.value){
                                             btn.disabled=true 
                                          }else{
                                            btn.disabled=false
                                          }
                                        } 
                                    </script>


                                    <div id="styleSelector">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery-ui/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/popper.js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/bootstrap/js/bootstrap.min.js')}}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{{url_for('static', filename='assets/js/modernizr/modernizr.js')}}"></script>
<!-- am chart -->
<script src="{{url_for('static', filename='assets/pages/widget/amchart/amcharts.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/pages/widget/amchart/serial.min.js')}}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{{url_for('static', filename='assets/pages/todo/todo.js ')}}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{url_for('static', filename='assets/pages/dashboard/custom-dashboard.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/script.js')}}"></script>
<script type="text/javascript " src="{{url_for('static', filename='assets/js/SmoothScroll.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/pcoded.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/demo-12.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
{% else %}
   
    <script>
        
        window.onload=function(){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Access Denied !! ',
                showConfirmButton: false,
                timer: 1500
              })
            setTimeout(()=>{
                
                window.location.href="/login-projectmanager" 
    
            },2000)
        }
        
    </script>
    {% endif %}
</body>

</html>