<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        setTimeout(()=>{
           Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'You are Not Allowed to view this page',
            timer:1500,
            showConfirmButton:false
          })
        },1000)
        window.location.href="/login-admin"
      </script>
</body>
</html>