<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Nearsecure</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> 
      <!-- style css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
      <!-- Responsive-->
      <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}"> 
      <!-- fevicon -->
      
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </head>
    <body>
      <!-- header top section start -->
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="call_text"><a href="#"><img src="{{url_for('static', filename='images/map-icon.png')}}"><span class="call_text_left">Locations</span></a></div>
            </div>
            <div class="col-sm-4">
              <div class="call_text"><a href="#"><img src="{{url_for('static', filename='images/call-icon.png')}}"><span class="call_text_left">+212 501041001</span></a></div>
            </div>
            <div class="col-sm-4">
              <div class="call_text"><a href="#"><img src="{{url_for('static', filename='images/mail-icon.png')}}"><span class="call_text_left">Demo@nearsecure.com</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- header top section end -->
      <!-- header section start -->
      <div class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="index.html"><img src="{{url_for('static', filename='images/last.png')}}"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/login-admin">Admin</a></li>
                  <li><a class="dropdown-item" href="/login-projectmanager"> project manager</a></li>
                  
                  <li><a class="dropdown-item" href="/login-engineer">engineer</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        </div>
      </div>
      <!-- header section end -->
      <!-- banner section start -->
      
      <div class="banner_section layout_padding">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 padding_0">
              <div><img src="{{url_for('static', filename='images/Frodex-Cyber20%security.png')}}"></div>
            </div>
            <div class="col-sm-4">
              <h1 class="clever_text">CREATIVE <span style="color: #feca01;">SOLUTIONS</span> FOR YOUR IT SECURITY</h1>
              <div class="read_bt_2"><a href="#">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
        <div class="container" id="services">
          
         <div class="d-flex  justify-content-center">
          <h5 class="what_text">Our services</h5>
         </div>
          <div class="d-flex  justify-content-center">
            <h1 class="services_text custom_main">Our challenge is to help you acheive a high level of security</h1>
          </div>
        </div>
      </div>
      <!-- services section end -->
      <!-- services_2 section start -->
      <div class="services_section_2">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-8">
              <div class="plane_main active">
                <div class="plane_left">
                  <div class="icon_1"><img src="{{url_for('static', filename='images/auditory.png')}}"></div>
                </div>
                <div class="plane_right">
                  <h3 class="vision_text">Security audit</h3>
                  <p class="completely_text">Examination of the procedures, practices, technical controls , ISO27002</p>
                </div>
              </div>
              <div class="plane_main">
                <div class="plane_left">
                  <div class="icon_1"><img src="{{url_for('static', filename='images/white-hat.png')}}"></div>
                </div>
                <div class="plane_right">
                  <h3 class="vision_text">Penetration testing</h3>
                  <p class="completely_text">External/internal penetration testing WEB/MOBILE security.</p>
                </div>
              </div>
              <div class="plane_main">
                <div class="plane_left">
                  <div class="icon_1"><img src="{{url_for('static', filename='images/hacker.png')}}"></div>
                </div>
                <div class="plane_right">
                  <h3 class="vision_text">Red teaming</h3>
                  <p class="completely_text">Evakuation of the security level of your information system and the responsiveness of your SOC against cyber attacks.</p>
                </div>
              </div>
              <div class="plane_main">
                <div class="plane_left">
                  <div class="icon_1"><img src="{{url_for('static', filename='images/learning.png')}}"></div>
                </div>
                <div class="plane_right">
                  <h3 class="vision_text">Training</h3>
                  <p class="completely_text">Grow your informations & cyber security skills</p>
                </div>
              </div>
              <div class="read_bt"><a href="#">Read More</a></div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="image_1"><img src="{{url_for('static', filename='images/cyber-security.png')}}"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- services_2 section end -->
      <!-- money section start -->
      <div class="money_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="money_taital">
                <h3 class="advanced_text">SOME INFOS</h3>
                <h1 class="data_text">Near secure</h1>
                <p class="lorem_text">offers a new approach of Penetration Testing by simulating the real world hacking scenario,Our Red team of certified penetration testers is highly experienced and trained in the latest tools and advanced techniques utilized by HACKERS.
                    We also support our customers to get their systems more secure against the latests vulnerabilities and ensure a high security level compared to security standards and best practices.</p>
                <div class="read_bt_1"><a href="#">Read More</a></div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-8 padding_0">
              <div class="image_2"><img src="{{url_for('static', filename='images/hacker1.png')}}"></div>
              <!--<h1 class="your_text">Your<br> security<br> Grows</h1>-->
            </div>
          </div>
        </div>
      </div>
      <!-- money section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
        <div class="container" id="about">
          <div class="d-flex  justify-content-center">
            <h1 class="services_text custom_main">About us</h1>
          </div>
        </div>
      </div>
      <div class="client_section_2 layout_padding">
        <div class="container">
          <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="client_main"><img src="{{url_for('static', filename='images/images/card4-fotor-20230718123952 (1).png')}}"></div>
                <div class="client_main_1">
                  <h1 class="kamlioo_text">Welcome</h1>
                  <p class="ipsum_text">Nearsecure is a Moroccan company specializing in IT Security, founded by experts who have conducted several projects of auditing, consulting and integration of security solutions at the international level.</p>
                  <div class="quote_icon"><img src="{{url_for('static', filename='images/quote-icon.png')}}"></div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="client_main"><img src="{{url_for('static', filename='images/collaboration-fotor-2023071813555.png')}}"></div>
                <div class="client_main_1">
                  <h1 class="kamlioo_text">Team</h1>
                  <p class="ipsum_text">Near Secure is an african leading company specializing in information security systems , founded by some of the best defensive & offensive security experts and researchers in the world, having conducted several successful missions in audit, penetration testing, investigation and training at some of the Organizations of Vital Interest and other highly reputed customers.
                    By offering a highly-qualified service for integration of the most appropriate security solutions, our team tries to help to build a NearSecured Systems !. </p>
                  <div class="quote_icon"><img src="{{url_for('static', filename='images/quote-icon.png')}}"></div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- client section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container" id="contact">
          <h1 class="contact_text">Contact Us</h1>
          <div class="contact_section_2">
            <div class="row">
              <div class="col-md-6">
                <form action="/action_page.php">
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Name" name="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Email" name="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Subject" name="Email">
                  </div>
                    <div class="form-group">
                      <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="text"></textarea>
                    </div>
                  </form>
                  <div class="main_bt"><a href="#">Send</a></div>
              </div>
              <div class="col-md-6">
                <div class="map">
                  <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.8270529850734!2d-6.8461939243991266!3d33.99697577317778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda713c1670f75af%3A0x559d62b57e59661f!2sNearSecure!5e0!3m2!1sfr!2sma!4v1690939747599!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer section start -->
        <div class="footer_section layout_padding">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="footer_logo"><img src="{{url_for('static', filename='images/last.png')}}"></div>
              </div>
              <div class="col-sm-4">
                <h1 class="footer_about">Newsletter</h1>
                <input type="text" class="mail_text" placeholder="Enter your Email" name="text">
                <button class="subscribe_bt">Send</button>
              </div>
            </div>
          </div>
        </div>
        <!-- footer section end -->
      </div>
      <!-- contact section end -->
      <!-- copyright section start -->
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
   </html>