<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">

        <div class="pcoded-search">
            <span class="searchbar-toggle">  </span>
           
        </div>
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Layout</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="/projectmanager-dash">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                    <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Manage engineers</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class=" ">
                                        <a href="/create-ing">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Create engineer</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/show_engineers_pm">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Show engineer</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                    
                        
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon" style="background-color: rgb(63, 167, 7);"><i class="fa-solid fa-list-check"></i></i></span>
                                    <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Manage projects</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class=" ">
                                        <a href="/create-project">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Create projects</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/delete_project">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Delete projects</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                    
                            <li>
                                <a href="/pm-statistics">
                                    <span class="pcoded-micon"><i class="fa-solid fa-chart-pie"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Statistics</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            
                            <!-- <li>
                                <a href="/tasks">
                                    <span class="pcoded-micon"><i class="ti-layers bg-c-green"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">tasks</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li> -->
                            <li class="active">
                                <a href="/tasks">
                                    <span class="pcoded-micon" style="background-color: rgb(139, 139, 144);"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Tasks</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="" id="report" aria-disabled="true">
                                    <span class="pcoded-micon" style="background-color: #39ADB5;;"><i class="fa-regular fa-folder"></i><b>C</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Report</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            
                        

                        </ul> 
</nav>
<button type="button" class="btn btn-primary" style="margin-left: 200px;display: none; " id="breport" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/report" method="POST">
                                                <div class="mb-3">

                                                    <label for="recipient-name" class="col-form-label">Chef de Projet:</label>
                                                    <input type="text" name="nom" value="{{ session['pm_data'][0][1] }}" readonly  class="form-control">
                                                </div>

                                            <div class="mb-3">

                                                <label for="recipient-name" class="col-form-label">Subject:</label>
                                                <input type="text" name="subject" class="form-control" id="recipient-name">
                                                <input type="hidden" value="pm" name="type">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" name="message" id="message-text"></textarea>
                                            </div>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button  class="btn btn-primary" type="submit">Send message</button>
                                        </div>
                                        </div>
                                   
                                    </div>
                                    </div>
                                     </form>

<script>
    let link=document.querySelector("#report")
    let btn=document.querySelector("#breport")
    link.onclick=(e)=>{
        e.preventDefault()
        btn.click()
    }
</script>